*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --base: #555;
    --base-100:#f1f1f1;
    --base-400:#555;
    --base-800:#000;
    --yellow: #ffda4b;
    --yellow-100: #fffbe6;
    --yellow-400: #ffda4b;
    --yellow-800: #8b6f00;
    --blue:#0a61ae;
    --blue-100:#e6f4ff;
    --blue-400:#61dafb;
    --blue-800:#0a61ae;


}

body{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: var(--blue);
    &:hover{
        text-decoration: underline;
    }
}

header {
    padding-top: 10px;
    padding-bottom:10px;
    display: flex;
    max-width: 1920px;
    justify-content: space-between;
    margin:auto;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    .logo-holder{
        display: flex;
        padding: 10px;
        align-items: center;
        font-weight: 600;
        color:var(--base-800);
        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            background-color: var(--base-800);
            color: var(--base-100);
            height: 64px;
            width: 64px;
            margin-right: 20px;
            border-radius: 50%;
        }
        .logo-text{
            flex: 1;
        }
    }
    nav {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: flex-end;
        ul{
            display: flex;
            list-style-type: none;
            gap: 15px;
            li{
                display: inline-block;
                a {
                    display: inline-block;
                    padding: 10px 20px;
                    color: var(--base);
                    &:hover{
                        background: var(--base-100);
                        border-radius: 10px;
                        text-decoration: none;
                    }
                }
            }
        }
        .mobile-toogle{
            color: var(--base-800);
            padding: 10px;
            @media (max-width: 768px) {
                display: inline-block;
                position: absolute;
                top: 10px;
                right: 10px;
                
            }
        }
    }
    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;

        nav{
            margin: 10px;
            width: 100%;
            ul{
                display: none;
                flex-direction: column;
                text-align: center;
                width: 100%;
                a{
                    width: 100%;
                }
                &.active{
                    display:flex;
                }
            }
        }
        
    }
}

.container{
    max-width: 1920px;
    margin: auto;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width: 1920px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.button{
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--blue);
    color: var(--base-100);
    border-radius: 10px;
    transition: ease 0.3s all;
    &:hover{
        text-decoration: none;
        background-color: var(--base-800);
    }
    &.white{
        background-color: white;
        color: var(--base-800);
        &.hover {
            background-color: var(--base-100);
            color: var(--base);
        }
    }
    &.black {
        background-color: black;
        color: white;
        &.hover {
            background-color: var(--base);
            color: var(--base-100);
        }
    }
}

h1{
    font-size: 64px;
    line-height: 1;
    margin-bottom: 10px;
    small{
        display: block;
        font-weight: 100;
    }
    @media (max-width: 1024px) {
        font-size: 48px;
    }
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1024px) {
        flex-direction: column;
    }
    .hero-blue{
        flex: 1;
        min-width: 0;
        background-color: var(--blue-100);
        border-radius: 30px;
        padding:30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
            @media (max-width: 768px) {
                display: none;
            }
        }
        .call-to-action {
            margin-top: 20px;
            margin-bottom: 10px;
            a{
                margin-right:10px;
                margin-bottom: 10px;
            }

        }
        .social-links {
            a{
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .hero-yellow{
        flex: 1;
        background-color: var(--yellow);
        border-radius: 30px;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: relative; */
        box-sizing: border-box;
        img {
            /* margin-top: 0px;
            max-width: 100px;
            margin-bottom: 0px; */
            max-width: 100%;
            height: auto;
            object-fit: contain;
            border-radius: 15px;
            /* display: block; */
            margin: 0 auto;
        }
    }
}

.logos {
    background-color: var(--base-100);
    border-radius: 30px;
    padding: 30px 0px;
    @media (max-width: 1024px) {
        padding:0px;
    }
    .marquee{
        width: 100vw;
        max-width: 100%;
        height: 128px;
        overflow: hidden;
        position: relative;
        .track{
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 40s linear infinite;
            display: flex;
            gap: 10px;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

